body {
  margin: 0;
}

header > div:first-child {
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  height: 70px;
  background-color: #4c9ffb;
  background-size: 250px;
  position: relative;
}

.logo {
  width: 150px;
  text-align: left;
  margin-left: 5px;
}
.hero {
  margin-left: 5px;
}
h1 {
  margin-bottom: 0;
}
address {
  font-style: normal;
  color: grey;
}

address > a:first-child {
  color: #3bb0e3;
  font-weight: bold;
  text-decoration: none;
}

time {
  color: grey;
  font-size: 10px;
}

figure {
  margin-left: 5px;
}
figcaption {
  font-size: 10px;
}

section {
  margin-left: 5px;
  font-size: 15px;
}

ul {
  margin-left: 5px;
  padding-left: 10px;
}

table {
  border-spacing: 0;
}
th {
  text-align: left;
  color: white;
  background-color: #1dabe5;
  min-width: 250px;
}

tr:nth-child(odd) {
  background-color: #b1e6f2;
}

h2 {
  font-size: 15px;
  color: grey;
  font-weight: bold;
  margin-bottom: 5px;
}

footer {
  margin-left: 5px;
  margin-bottom: 30px;
}

.related-1 {
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 200px;
  margin: 10px 0 10px 0;
}

.related-2 {
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 200px;

  color: white;
  margin: 10px 0 10px 0;
}

article > h2 {
  color: white;
  padding: 5px 0 0 10px;
  font-size: 18px;
  margin-top: 0;
}
